ffmpeg-python
gradio==6.14.0
huggingface_hub==1.16.4
insightface==1.0.1
kokoro==0.9.4
mediapipe==0.10.35
misaki[ja]
misaki[zh]
munch
numpy==1.26.4
omegaconf
onnx
opencv-python==4.10.0.84
opencv-contrib-python==4.10.0.84
phonemizer
protobuf==5.26.1
pycuda
pyvirtualcam
scikit-image
soundfile
tensorrt-cu12
torchgeometry